   {% extends "base.html" %}

   {% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Google GovDevChallenge</h1>
        <p>This is tracking software attempted in the 24/hr google govdev challenege in Denver, CO. Most of us walked in here with only low level experince but walked away masters of debuging things that should of worked from the begining.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
	{% endblock %}

	{% block content %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Tracking</h2>
          <p>Track supplies and stuff. See where they are via GOOGLE MAPS. Stats are stored in a database that should of worked but Cloud SQL.
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Maps</h2>
          <p>Get a map of all the locations and what is there. Pull GPS cordinates and find where the suppiles are. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Google</h2>
          <p>Does it all work? Nah. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->

	{% endblock %}
