{% extends "base.html" %}

{% block content %}
<ul>
    {% for post in posts %}
    <li>
       <!--  {{ post.title }} (written by {{ post.author.nickname() }})

        {{ post.content }} -->

<!--         <strong>Item: </strong> {{ item.content }} 
        <strong>priority for delivery </strong> {{ priority.content}}
        <strong> location: </strong> {{ location.content }}
        <strong> donor: </strong> {{ donor.content }}
        <strong> time: </strong> {{ when.content }} -->

        {{ post.item }}
        {{ post.priority }}
        {{ post.location }}
        {{ post.donor }}
        {{ post.time }}

    </li>
    {% endfor %}
</ul>
{% endblock %}