{% extends "base.html" %}

{% block content %}
<style>
td{
  background-color: #eeeeee;
  padding: 10px;
}
</style>
<table>
  <tr>
      <td><strong>Items</strong></td>
      <td><strong>Priority</strong></td>
      <td><strong>Location</strong></td>
      <td><strong>Donor</strong></td>
  </tr>
    {% for post in posts %}
    <tr>
 {# note: disabled template because we no longer use thi
       <!--  {{ post.title }} (written by {{ post.author.nickname() }})

        {{ post.content }} -->

<!--         <strong>Item: </strong> {{ item.content }}
        <strong>priority for delivery </strong> {{ priority.content}}
        <strong> location: </strong> {{ location.content }}
        <strong> donor: </strong> {{ donor.content }}
        <strong> time: </strong> {{ when.content }} -->

        #}

        <td>{{ post.item }}</td>
        <td>{{ post.priority }}</td>
        <td>{{ post.location }}</td>
        <td>{{ post.donor }}</td>
    </tr>
    {% endfor %}
</table>

  <style>
      #map_canvas {
        width: 500px;
        height: 400px;
      }
      
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var map_options = {
          center: new google.maps.LatLng(44.5403, -78.5463),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map_canvas"></div>
  </body>

{% endblock %}
